Source code in the instance, source or
annotations. 
--------------------------------------------*/
pre {
    white-space: pre-wrap;
}

body {
	max-height: 600px;
}
table {
    padding-top: 22px;
    z-index: -1;
}

td {
	vertical-align: top;
}

td.canvasTD{
	padding:0px;
}
div.canvasContainer{
	padding: 0px;
}
button.NextButtonChild{
	border-radius: 50%;
	background-color: #99CCFF;
	content: '>>';
}

button.PreviousButtonChild{
	border-radius: 50%;
	background-color: #99CCFF;
	content: '<<';
}

button.NextButton {
	border-radius: 50%;
	background-color: #99CCFF;
	content: '>';
}

button.PreviousButton{
	border-radius: 50%;
	background-color: #99CCFF;
	content: '<';
}

button.SwapButton{
	border-radius: 50%;
	background-color:  #FF8080
	content: '<->';
}


td.spaceUnder {
  	border: ridge gray;

}
td.block1 {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    max-width: 1000px;
}

td.block2 {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    max-width: 1000px;
}

span.Element { 
	color: #000096; 
	background-color:inherit;
}

span.attributeName { 
	color: #E65C00; 
	background-color:inherit; 
} 

span.attributeValue { 
	color: #993300;
	background-color:inherit; 
} 

span.textField {
	color: #000000;
	background-color:inherit; 
} 

span.Comment { 
	color: #006400;
	background-color:inherit; 
} 

span.CDATA {
	color: #008C00; 
	background-color:inherit; 
} 

span.PI {
	color: #8B26C9; 
	background-color:inherit;
} 

span.Doctype {
	color: #1A1AFF;
	background-color:inherit;
}

/* Title sections */

span.qname{
	color:black;
	background-color:inherit;
}

div.FloatingUp{
    position: fixed;
    top: 0px;
    width: 100%;
    text-align:center; 
    vertical-align:middle;
    border: ridge gray;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    z-index: 1;
    background-color: white;
}


li{
    list-style-position: inside;
    list-style-type: none;
}
li::before{
    content: '\00b7';
    font-size:100px;
    line-height: 24px;
    vertical-align: middle;
}

span.unu{
    color: black;
}

li.unu{
    color: #ff9999;
}

li.doi{
    color: #d1e0e0;
}

li.trei{
    color: #80ccff;
}
div.FloatingDown{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-left: 45%;
    vertical-align:middle;
    border: ridge gray;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    z-index: 1;
    background-color: white;
}

div.NameOfFileLeft{
    float: left;
    text-align: right;
    width:33.3%;
}

div.NameOfFileRight{
    float: right;
    text-align: left;
    width:33.3%;
}

div.NameOfFileButton{
    float: right;
    width:33.3%;
}

div.Scroll1 {
    overflow-x: auto;
}


div.Scroll2 {
    overflow-x: auto;
}


div.diffParentTypeConflict {
	background-color: #ffe6e6;
	opacity: 0.81;
    filter: alpha(opacity=50); 
    display: block;
    border: ridge grey;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    line-height: 200%;
}

div.diffParentTypeConflict_sel {
    border: ridge #ff4d4d;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
}


div.diffParentTypeOutgoing {
	background-color: #f0f5f5;
	opacity: 0.81;
    filter: alpha(opacity=50); 
    display: block;
    border: ridge grey;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    line-height: 200%;
}

div.diffParentTypeOutgoing_sel {
    border: ridge #a3c2c2;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
}

div.diffParentTypeIncoming {
	background-color: #ccf2ff;
	opacity: 0.81;
    filter: alpha(opacity=50); 
    display: block;
    border: ridge grey;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    line-height: 200%;
}

div.diffParentTypeIncoming_sel {
    border: ridge #33ccff;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
}

span.diffTypeConflict {
	background-color:#FFB3B3;
	opacity:0.9;
}

span.diffTypeConflict_sel {
	border: ridge #ff4d4d;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

span.diffTypeOutgoing{
	background-color:#DDDDDD;
	opacity:0.9;
}

span.diffTypeOutgoing_sel {
	border: ridge #f0f5f5;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

span.diffTypeIncoming {
	background-color:#D1EDFF;
	opacity: 0.9;
}

span.diffTypeIncoming_sel {
	border: ridge #33ccff;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}